<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CMS Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/"><i class="fa fa-home"></i>   Home Page</a>
        <a class="nav-link" href="/customerManagement"><i class="fa fa-users"></i>  Customer Management</a>
        <a class="nav-link" href="/pages/productManagement"><i class="fa fa-tags" ></i>    Brand & Product Management</a>
        <a class="nav-link" href="#"><i class="fa fa-th"></i>  Inventory Management</a>
        <a class="nav-link" href="#"><i class="fa fa-cart-arrow-down"></i>    Purchase Tracking Management</a>
        <a class="nav-link" href="#"><i class="fa fa-line-chart"></i>  Sales Tracking Management</a>
        <a class="nav-link" href="#"><i class="fa fa-money"></i>   Payment Tracking Management</a>
        <a class="nav-link" href="#"><i class="fa fa-question"></i>    Lost Items Management</a>
        <a class="nav-link" href="#"><i class="fa fa-pie-chart"></i>   Report/Charts Management</a>
        <a class="nav-link" href="#"><i class="fa fa-user"></i>    User Management</a>
      </div>
    </div>
  </div>
</nav>
