<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">CMS Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/home"><i class="fa fa-home"></i>   Home Page</a>
        <a class="nav-link" href="/customerManagement"><i class="fa fa-users"></i>  Customer Management</a>
        <a class="nav-link" href="/brandManagement"><i class="fa fa-tags" ></i>    Brand & Product Management</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-th"></i>  Inventory Management
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/adminInventory">  Admin Inventory Management</a></li>
            <li><a class="dropdown-item" href="/managerInventory">  Manager Inventory Management</a></li>
          </ul>
        </li>
        <a class="nav-link" href="/purchaseTracking"><i class="fa fa-cart-arrow-down"></i>    Purchase Tracking Management</a>
        <a class="nav-link" href="#"><i class="fa fa-line-chart"></i>  Sales Tracking Management</a>
        <a class="nav-link" href="#"><i class="fa fa-money"></i>   Payment Tracking Management</a>
        <a class="nav-link" href="#"><i class="fa fa-question"></i>    Lost Items Management</a>
        <a class="nav-link" href="#"><i class="fa fa-pie-chart"></i>   Report/Charts Management</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user"></i>  User Management
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">  Admin User Management</a></li>
            <li><a class="dropdown-item" href="#">  Manager User Management</a></li>
          </ul>
        </li>
        <a class="nav-link" href="/">Logout</a>
      </div>
    </div>
  </div>
</nav>