<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">New Inventory</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/inventoryASave" method="POST" class="was-validated">
            <div class="mb-3">
                <label class="form-label" for="ID">ID</label>
                <input class="form-control" type="number" id="ID" name="ID" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Name">Name</label>
                <input class="form-control" type="text" id="Name" name="Name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Add Inventory</button>
            </div>
        </form>
        <a href="/adminInventory">All Inventory</a>
    </div>
</div>