<% layout('layouts/boilerplate')%>
<main class="container mt-3">
    <figure class="text-center">
        <h1 class="display-3">Home Page</h1>
    </figure>
    <div class="my-5">
        <div class="container">
            <div class="row row-cols-3 g-5">
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/customerManagement">Customer Management</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/brandManagement">Brand Management</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/adminInventory">Admin Inventory</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/managerInventory">Manager Inventory</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/purchaseTracking">Purchase Tracking</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/salesTracking">Sales Tracking</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/paymentManagement">Payment Management</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/lostItem">Lost Items Management</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/reports">Reports /  Charts</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/adminUser">Admin User</a></div>
              <div class="d-grid gap-4"><a class="btn btn-light btn-lg" href="/managerUser">Manager User</a></div>
              <div class="d-grid gap-4"><a class="btn btn-warning btn-lg" href="/">Sign Out</a></div>
            </div>
          </div>
    </div>